@model List<UserViewModel>



<div class="text-center">
	<div class="requests-sent__top">
		<h1 class="display-3">Отправленные заявки</h1>
		<a class="btn requests-sent__top-incoming" asp-controller="FriendshipRequest" asp-action="Incoming">Входящие заявки</a>
	</div>

	<div class="requests-sent__list">
		@foreach(var user in Model)
		{
			<div class="requests-sent__list__card">
				<img src="~/images/sidebar/profile-icon.jpg" class="requests-sent__list__card-image" />
				<div class="requests-sent__list__card__info">
					<a asp-controller="Home" asp-action="Profile" asp-route-id=@user.Id>@user.FirstName @user.LastName</a>
					<p>@user.City</p>
				</div>
			</div>
		}
	</div>
</div>
