/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background: #1a1a1d;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom styles
-------------------------------------------------- */

:root {
    --dark-gray: #1a1a1d;
    --gray: #4e4e50;
    --light-gray: lightgray;
    --maroon: #6f2232;
    --dark-pink: #950740;
    --rose-red: #c3073f;
    --white: #ffffff;
    --yellow: yellow;
}

.main-container {
    padding-top: 40px;
    margin: 0 50px 0 330px;
}


/***********************   HomePage   *************************/


.home__subtitle {
    margin: 30px 0;
}

.home__friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home__friends__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 200px;
    background: var(--maroon);
    border-radius: 16px;
    padding-bottom: 8px;
}

.home__friends__card-image-container {
    width: 100%;
    background: var(--dark-pink);
    border-radius: 16px;
    padding: 10px;
}

.home__friends__card-image {
    width: 120px;
    border-radius: 50%
}

.home__friends__card-name {
    display: flex;
    align-items: end;
}

.home__friends__card-name h6 {
    margin: 0;
}

.home__friends__card-name span {
    display: inline-block;
    font-size: 13px;
    margin-left: 4px;
}

.home__friends__card-info {
    margin: 0;
    opacity: 0.7;
}

.home__friends__card-button {
    margin-top: 8px;
    background: var(--white);
    padding: 5px;
}

.home__friends__card-button:hover {
    background: var(--gray);
    color: var(--white);
}


/***********************   FriendsPage   *************************/


.friends__title {
    margin-bottom: 50px;
}

.friends__subtitle {
    margin: 30px 0 50px;
}

.friends__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.friends__list__card {
    display: flex;
    align-items: center;
    gap: 48px;
    width: 80%;
    background: var(--maroon);
    border-radius: 16px;
    padding-right: 16px;
}

.friends__list__card-image-container {
    width: 160px;
    background: var(--dark-pink);
    border-radius: 16px;
    padding: 10px;
}

.friends__list__card-image {
    width: 120px;
    border-radius: 50%
}

.friends__list__card__details {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: start;
    padding-top: 24px;
    gap: 8px;
}

.friends__list__card__details-name {
    display: flex;
    align-items: center;
}

.friends__list__card__details-name h4 {
    margin: 0;
}

.friends__list__card__details-name span {
    margin-left: 4px;
    font-size: 18px;
}

.friends__list__card__details-email {
    margin: 0;
    opacity: 0.7;
}

.friends__list__card__details-info {
    margin: 0;
    opacity: 0.7;
}

.friends__list__card__details-button {
    width: 100px;
    margin-top: 8px;
    background: var(--white);
    padding: 5px;
    margin: 0 0 16px auto;
    align-self: end;
}

.friends__list__card__details-button:hover {
    background: var(--gray);
    color: var(--white);
}