@model List<UserViewModel>



<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>

    <h2 class="home__subtitle">Возможные друзья</h2>
    <div class="home__friends">
        @foreach(var user in Model)
        {
            <div class="home__friends__card">
                <div class="home__friends__card-image-container">
                    <img src="~/images/sidebar/profile-icon.jpg" class="home__friends__card-image" />
                </div>
                <div class="home__friends__card-name">
                    <h6>@user.FirstName @user.LastName</h6>
                    <span> • @user.UserName</span>
                </div>
                <p class="home__friends__card-info">@user.City</p>
                <a class="btn home__friends__card-button" asp-controller="Home" asp-action="Index">Добавить</a>
            </div>
        }
    </div>
</div>
