@{
    Layout = null;
}

<link rel="icon" href="~/icon.png" />
<style>
    body {
        background: #1a1a1d;
        color: #ffffff;
    }

    p {
        margin: 10px 0;
    }

    .section {
        padding-left: 30px;
        margin-bottom: 30px;
    }

    .section:last-child {
        margin-bottom: 100px;
    }
</style>

<div class="section">
    <h1>Условия использования</h1>
    <p>Пожалуйста, внимательно прочитайте эти Условия использования перед использованием нашего веб-сайта. Продолжая использовать наш веб-сайт, вы соглашаетесь с этими Условиями использования. Если вы не согласны с какими-либо из этих условий, пожалуйста, не используйте наш веб-сайт.</p>

    <h3>1. Общие условия</h3>
    <p>1.1. Эти Условия использования регулируют использование вами нашего веб-сайта.</p>
    <p>1.2. Мы оставляем за собой право изменять эти Условия использования в любое время. Обновленные условия будут опубликованы на этой странице, и ваше дальнейшее использование веб-сайта будет считаться принятием этих изменений.</p>

    <h3>2. Использование контента</h3>
    <p>2.1. Весь контент, размещенный на этом веб-сайте, включая текст, графику, логотипы, иконки, изображения, аудио- и видеоматериалы, является нашей собственностью или собственностью наших поставщиков контента и защищен законами об авторских правах.</p>
    <p>2.2. Вы не можете использовать, воспроизводить, распространять, передавать, отображать, продавать, лицензировать или иным образом использовать контент для коммерческих целей без нашего письменного разрешения.</p>

    <h3>3. Ограничение ответственности</h3>
    <p>3.1. Мы не несем ответственности за любой прямой, косвенный, случайный, особый или косвенный ущерб, возникший в результате использования или невозможности использования нашего веб-сайта или его содержимого.</p>
    <p>3.2. Мы не гарантируем, что веб-сайт будет работать бесперебойно и безошибочно, или что дефекты будут исправлены.</p>

    <h3>4. Права и обязанности пользователей</h3>
    <p>4.1. Вы обязуетесь использовать веб-сайт только в законных целях и в соответствии с этими Условиями использования.</p>
    <p>4.2. Вы не должны размещать или передавать через веб-сайт любой материал, который является незаконным, оскорбительным, клеветническим, нарушающим права третьих лиц или иным образом нежелательным.</p>

    <h3>5. Конфиденциальность</h3>
    <p>5.1. Ваша конфиденциальность важна для нас. Пожалуйста, ознакомьтесь с нашей Политикой конфиденциальности, чтобы понять, как мы собираем, используем и защищаем вашу личную информацию.</p>
</div>

<div class="section">
    <h1>Политика конфиденциальности</h1>
    <p>Конфиденциальность пользователей нашего веб-сайта является приоритетом для нас.</p>

    <h3>1. Сбор информации</h3>
    <p>1.1. Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты и другие контактные данные, когда вы регистрируетесь на нашем сайте или используете его функции.</p>
    <p>1.2. Мы также можем автоматически собирать определенную информацию при вашем посещении нашего веб-сайта, такую как IP-адрес, тип браузера, время доступа и просмотренные страницы.</p>

    <h3>2. Использование информации</h3>
    <p>2.1. Собранная информация используется для обеспечения функционирования и улучшения нашего веб-сайта, предоставления услуг и поддержки пользователей, а также для отправки уведомлений и предложений, которые могут вас заинтересовать.</p>
    <p>2.2. Мы не будем продавать, обменивать или иным образом передавать вашу личную информацию третьим лицам без вашего согласия, за исключением случаев, предусмотренных законом.</p>

    <h3>3. Защита информации</h3>
    <p>3.1. Мы принимаем соответствующие меры для защиты вашей личной информации от несанкционированного доступа, изменения, раскрытия или уничтожения.</p>
    <p>3.2. Мы используем шифрование и другие методы безопасности для защиты данных, передаваемых через интернет.</p>

    <h3>4. Файлы cookie</h3>
    <p>4.1. Наш веб-сайт может использовать файлы cookie для улучшения пользовательского опыта. Файлы cookie представляют собой небольшие текстовые файлы, которые сохраняются на вашем устройстве.</p>
    <p>4.2. Вы можете настроить свой браузер на отказ от использования файлов cookie, однако это может ограничить функциональность нашего веб-сайта.</p>

    <h3>5. Ссылки на другие сайты</h3>
    <p>5.1. Наш веб-сайт может содержать ссылки на сторонние сайты. Мы не несем ответственности за политику конфиденциальности или содержание этих сайтов.</p>

    <h3>6. Изменения в Политике конфиденциальности</h3>
    <p>6.1. Мы оставляем за собой право изменять эту Политику конфиденциальности в любое время. Обновления будут опубликованы на этой странице, и ваша дальнейшая использование веб-сайта будет считаться принятием этих изменений.</p>

    <h2>Контакты</h2>
    <p>Если у вас есть вопросы о наших Условиях использования или Политике конфиденциальности, пожалуйста, свяжитесь с нами по <em>adek.dev@list.ru</em>.</p>
</div>
