<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevLink</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version=true />
</head>
<body>
    <div class="d-flex" style="align-items: stretch; height: 100vh;">
        <div class="position-fixed d-flex flex-column flex-shrink-0 text-white" style="width: 280px; background: #6f2232; height: 100vh;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none p-3" style="font-size: 24px">
                DevLink
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto" id="navBar" style="width: 100%;">
                <li class="nav-item">
                    <a class="nav-link text-white d-flex align-items-center" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/sidebar/home-icon.png" alt="" width="24" height="24" class="me-2">
                        <span class="ml-2">Главная</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/sidebar/chats-icon.png" alt="" width="24" height="24" class="me-2">
                        <span class="ml-2">Сообщения</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-flex align-items-center" asp-area="" asp-controller="Friends" asp-action="Index">
                        <img src="~/images/sidebar/friends-icon.png" alt="" width="24" height="24" class="me-2">
                        <span class="ml-2">Друзья</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-flex align-items-center" asp-area="" asp-controller="FriendshipRequest" asp-action="Incoming">
                        <img src="~/images/sidebar/friends-icon.png" alt="" width="24" height="24" class="me-2">
                        <span class="ml-2">Заявки в друзья</span>
                        @await Component.InvokeAsync("FriendshipRequest")
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">
                        <img src="~/images/sidebar/privacy-policy-icon.png" alt="" width="24" height="24" class="me-2">
                        <span class="ml-2">Правила пользования</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-flex align-items-center" asp-area="" asp-controller="Auth" asp-action="LogOut">
                        <img src="~/images/sidebar/logout-icon.png" alt="" width="24" height="24" class="me-2">
                        <span class="ml-2">Выход</span>
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown p-3">
                <a class="d-flex align-items-center text-white text-decoration-none" asp-area="" asp-controller="Home" asp-action="UserPage" aria-expanded="false">
                    <img src="~/images/sidebar/profile-icon.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
                    @await Component.InvokeAsync("User")
                </a>
            </div>
        </div>
        <div class="main-container flex-grow-1">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>

<script>

    let currentURL = window.location.pathname;
    let navBars = document.querySelectorAll('.nav-item');
    let topRounding = document.createElement('span');
    let bottomRounding = document.createElement('span');

    topRounding.classList.add('nav-item-top-rounding');
    bottomRounding.classList.add('nav-item-bottom-rounding');

    if (currentURL.includes('Home/')) {
        navBars[0].classList.add('active-nav-bar');
        navBars[0].append(topRounding);
        navBars[0].append(bottomRounding);
    }
    else if (currentURL.includes('Chats/')) {
        navBars[1].classList.add('active-nav-bar');
        navBars[1].append(topRounding);
        navBars[1].append(bottomRounding);
    }
    else if (currentURL.includes('Friends/')) {
        navBars[2].classList.add('active-nav-bar');
        navBars[2].append(topRounding);
        navBars[2].append(bottomRounding);
    }
    else if (currentURL.includes('FriendshipRequest/')) {
        navBars[3].classList.add('active-nav-bar');
        navBars[3].append(topRounding);
        navBars[3].append(bottomRounding);
    }

</script>
